#!/bin/bash
#
# Managed by ansible
# -----------------------------------------------------------------------------
set +e

# Default Zabbix server host
ZABBIX_SERVER_HOST=${ZABBIX_SERVER_HOST:-"{{ zabbix_agent_server_host }}"}

# Default my hostname
ZABBIX_AGENT_HOSTNAME=${ZABBIX_AGENT_HOSTNAME:-"localhost"}

update_config_var() {
    local var_name=$1
    local var_value=$2

    sed -i -e "/^$var_name=/s/=.*/=$var_value/" /etc/zabbix/zabbix_agentd.conf
    echo "Updated: ${var_name} = ${var_value}"
}

echo "** Preparing Zabbix agent"
echo "** Preparing Zabbix agent configuration file"

update_config_var "Server" "${ZABBIX_SERVER_HOST}"
update_config_var "ServerActive" "${ZABBIX_SERVER_HOST}"
update_config_var "Hostname" "${ZABBIX_AGENT_HOSTNAME}"

echo "########################################################"

echo "** Executing dumb-init"

exec /usr/bin/dumb-init /usr/sbin/zabbix_agentd --foreground -c /etc/zabbix/zabbix_agentd.conf